<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ '/terminal.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/favicon.png' | relative_url }}">
    <title>{{ page.title }}</title>
    
    <script>
      window.MathJax = {
        tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] }
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body>
    <h1><a href="/" style="color: inherit">Sarcia3's math and computer science ramblings</a></h1>
    <p>A place for my thoughts <a href="/posts.html">(the list)</a>.</p>
    <hr style="margin-bottom: 0;"> 

    {{ content }}

    <footer style="border-top: 2px solid var(--accent); margin-top: 0px; padding:10px">
      Created by <a href="https://github.com/sarcia3" target="_blank">Sara Bartman</a>. 
      Theme based on <a href="https://catppuccin.com/" target="_blank">Catpuccin</a> made by 
      <a href="https://github.com/panr/terminal-css/tree/master" target="_blank">terminal-css</a>. 
    </footer>
  </body>
</html>
